[submodule "NPTracerRenderer/external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "NPTracerRenderer/external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "NPTracerRenderer/external/vma"]
	path = external/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
